* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    color: #000;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 75%;
    height: 400px;
    display: flex;
    flex-direction: column;

}
.carousel-inner .item{
	background-image: url("https://negocio.coralmujaes.com/hubfs/banner-fondo%20%281%29.png");
    height: 400px;/*change as your needs*/
}
.carrousel-items{
    width: 100%;
    color: #203140;
    position: relative;
    padding-bottom: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.desliza{
    font-size: 16px;
    margin-top: 5px;
}
.carrousel-items h3{
    margin-top: 20px;
    font-weight: 900;
    font-size: 30px;
}
.carrousel-items img{
    width: 400px;
}
.carousel-control{
	z-index: 11;
}
.info{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
.info_text{
    margin-top: -20px;
    padding: 60px;
}
.info .info-muckup-1{
    width: 500px;
}
.info .info-muckup-2{
    width: 300px;
}
.info-muckup-4{
    width: 450px;
}
.p-c1{
    padding-right: 120px;
}
.control-buttons{
    text-align:center;
}
.transition-timer-carousel-progress-bar {
    height: 3px;
    background-color: #203140;/*progress bar color*/
    width: 0;
    margin: 0 0 0 0;
    border: none;
    z-index: 11;
    position: relative;
}